<style>
.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: fit-content;
}

.banner-grid img {
  width: 88px;
  height: 31px;
  display: block;
}
</style>

<div class="banner-grid">
  <a href="https://nookipedia.com/wiki/Bob">
    <img src="{{ site.baseurl }}/images/powered_by_bob.gif" alt="Clickable Bob">
  </a>
	<img src="{{ site.baseurl }}/images/vocaloid.gif" alt ="vocaloid">
	<img src="{{ site.baseurl }}/images/newgrounds.gif" alt ="newgrounds">
	<img src="{{ site.baseurl }}/images/top100pet.gif" alt ="petsites">
</div>
